.font-EB-Garamond {
    font-family: 'EB Garamond', serif;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .banner {
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
  }

  #carousel-1 {
    background-image: url('./images/slider-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
  }
  #carousel-2 {
    background-image: url('./images/slider-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
  }
  #carousel-3 {
    background-image: url('./images/slider-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
  }